Repository sasahamotokara/rails-cms: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:sass

update add basic auth
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/admin/category_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/controllers/admin/login_controller.rb
  app/controllers/admin/media_controller.rb
  app/controllers/admin/post_controller.rb
  app/controllers/admin/setting_controller.rb
  app/controllers/admin/tag_controller.rb
  app/controllers/admin/user_controller.rb
  app/controllers/application_controller.rb
  app/views/front_page/index.html.erb
  public/assets/javascript/admin.js
  public/assets/javascript/admin.js.map
  public/assets/javascript/init.js
  public/assets/javascript/run.js
  public/assets/javascript/run.js.map
  public/assets/stylesheets/admin.min.css
  public/assets/stylesheets/admin.min.css.map
  public/assets/stylesheets/style.min.css
  public/assets/stylesheets/style.min.css.map
Due: none

make it better
  Gemfile
  Gemfile.lock
  config/database.yml
  config/environments/production.rb
Due: none

update change bundler version
  Gemfile.lock
Due: none

update change crlf => lf
  bin/bundle
Due: none

delete form collections
  app/controllers/form/base.rb
  app/controllers/form/category_collection.rb
  app/controllers/form/slug_collection.rb
  app/controllers/form/tag_collection.rb
Due: none

update front_page
  app/views/front_page/index.html.erb
Due: none

updatge side_contents
  app/views/_includes/_side.html.erb
Due: none

update smoothScroll
  _frontend/js/widget/smoothScroll.js
  public/assets/javascript/admin.js
  public/assets/javascript/admin.js.map
  public/assets/javascript/run.js
  public/assets/javascript/run.js.map
Due: yarn run lint:js

update styles
  _frontend/sass/admin.scss
  public/assets/stylesheets/admin.css
  public/assets/stylesheets/admin.min.css
  public/assets/stylesheets/admin.min.css.map
Due: yarn run lint:sass

update optimisation performance
  _frontend/js/admin.js
  _frontend/js/run.js
  app/views/_includes/_footer.html.erb
  app/views/_includes/_header.html.erb
  app/views/_includes/_main-visual.erb
  app/views/_includes/_side.html.erb
  app/views/_includes/admin/_media-uploader-modals.html.erb
  app/views/_includes/admin/_toolbar.html.erb
  app/views/admin/login/index.html.erb
  app/views/admin/media/edit.html.erb
  app/views/admin/media/index.html.erb
  app/views/admin/post/edit.html.erb
  app/views/admin/post/index.html.erb
  app/views/admin/user/confirm.html.erb
  app/views/admin/user/edit.html.erb
  app/views/admin/user/index.html.erb
  app/views/blog/post.html.erb
  app/views/blog/term.html.erb
  app/views/errors/not_found.html.erb
  app/views/front_page/index.html.erb
  app/views/layouts/application.html.erb
  app/views/search/index.html.erb
  lib/utils/markdown_parser.rb
  package.json
  public/assets/javascript/admin.js
  public/assets/javascript/admin.js.LICENSE.txt
  public/assets/javascript/admin.js.map
  public/assets/javascript/run.js
  public/assets/javascript/run.js.LICENSE.txt
  public/assets/javascript/run.js.map
  yarn.lock
Due: yarn run lint:js

update fix and login-error alert
  app/controllers/admin/login_controller.rb
  app/controllers/blog_controller.rb
  app/helpers/application_helper.rb
  app/views/_includes/_flash.erb
  app/views/_includes/admin/_media-uploader-modals.html.erb
  app/views/admin/login/index.html.erb
  app/views/layouts/application.html.erb
Due: none

create image-uploader
  Gemfile
  Gemfile.lock
  app/controllers/admin/media_controller.rb
  app/controllers/admin/post_controller.rb
  app/controllers/admin/user_controller.rb
  app/models/medium.rb
  app/models/user.rb
  app/uploaders/image_uploader.rb
  app/uploaders/user_uploader.rb
  app/views/_includes/_header.html.erb
  app/views/_includes/_meta.html.erb
  app/views/_includes/_side.html.erb
  app/views/_includes/admin/_media-uploader-modals.html.erb
  app/views/admin/category/index.html.erb
  app/views/admin/media/edit.html.erb
  app/views/admin/media/index.html.erb
  app/views/admin/media/new.html.erb
  app/views/admin/post/edit.html.erb
  app/views/admin/post/index.html.erb
  app/views/admin/post/new.html.erb
  app/views/admin/tag/index.html.erb
  app/views/admin/user/confirm.html.erb
  app/views/admin/user/edit.html.erb
  app/views/admin/user/index.html.erb
  app/views/blog/post.html.erb
  app/views/blog/term.html.erb
  app/views/front_page/index.html.erb
  app/views/search/index.html.erb
  db/migrate/20210313135209_create_media.rb
  db/schema.rb
  db/seeds.rb
  public/images/image_post_default.jpg
  public/images/users/user_image_1.png
Due: none

update review and corrected
  _frontend/sass/admin.scss
  app/controllers/admin/category_controller.rb
  app/controllers/admin/login_controller.rb
  app/controllers/admin/media_controller.rb
  app/controllers/admin/post_controller.rb
  app/controllers/admin/setting_controller.rb
  app/controllers/admin/tag_controller.rb
  app/controllers/admin/user_controller.rb
  app/controllers/api/markdown_controller.rb
  app/controllers/blog_controller.rb
  app/controllers/search_controller.rb
  app/helpers/admin/login_helper.rb
  app/helpers/application_helper.rb
  app/helpers/blog_helper.rb
  app/helpers/create_pagination_helper.rb
  app/helpers/create_toc_helper.rb
  app/helpers/webpack_bundle_helper.rb
  app/views/_includes/_meta.html.erb
  app/views/admin/media/edit.html.erb
  app/views/admin/post/edit.html.erb
  app/views/blog/post.html.erb
  app/views/blog/term.html.erb
  app/views/errors/not_found.html.erb
  lib/utils/markdown_parser.rb
  lib/utils/with_error_form_builder.rb
  public/assets/stylesheets/admin.css
  public/assets/stylesheets/admin.min.css
  public/assets/stylesheets/admin.min.css.map
Due: yarn run lint:sass

Path conditions:
  yarn run lint:js: any of: ./_frontend/js/**/*.js
  yarn run lint:sass: any of: ./_frontend/sass/**/*.scss
